[flake8]

# Define the maximum allowed line length
max-line-length = 100

# Set the maximum cyclomatic complexity threshold (McCabe)
# A score above 10 indicates that the function is too complex.
max-complexity = 10